In [1]:
# PART 1 WORK

#import pandas library
import pandas as pd

#reading data through read html method of pandas
do = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

#converting to a pandas dataframe
df = pd.DataFrame(do[0])

df1 = df[df.Borough!='Not assigned']
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
l = list(df1['Neighbourhood'])
n = list(df1['Borough'])
for i in range(len(l)):
    if l[i]=='Not assigned':
        l[i] = n[i]
#replace old neighbourhood column with new one
df1 = df1.drop(columns = 'Neighbourhood', axis=1)
df1['Neighbourhood'] = l
#a new dataframe keeping only postcode and borough, to be used for merging later
d = df1.drop(columns = "Neighbourhood", axis=1)

#merging rows with same postcode values
df2 = df1.groupby('Postcode')['Neighbourhood'].apply(','.join).reset_index()

#final dataframe to be used on machine learning model
result = pd.merge(d, df2, on= 'Postcode')
result.drop_duplicates(keep='first', inplace=True)
result.sort_values(by='Postcode', inplace=True)
result.head()

   Postcode      Borough                         Neighbourhood
7       M1B  Scarborough                         Rouge,Malvern
20      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
32      M1E  Scarborough       Guildwood,Morningside,West Hill
38      M1G  Scarborough                                Woburn
42      M1H  Scarborough                             Cedarbrae

In [5]:
#PART 2 WORK INCLUDING LATITUTDE AND LONGITUDE DATA 

df_lat_lng = pd.read_csv('https://cocl.us/Geospatial_data')
df_lat_lng = df_lat_lng.rename(columns = {"Postal Code":"Postcode"}
df_lat_lng.head()
# = pd.merge(result, df_lat_lng, on= 'Postcode')

  Postal Code   Latitude  Longitude Postcode
0         M1B  43.806686 -79.194353      M1B
1         M1C  43.784535 -79.160497      M1C
2         M1E  43.763573 -79.188711      M1E
3         M1G  43.770992 -79.216917      M1G
4         M1H  43.773136 -79.239476      M1H